@model prueba_1_hp.Models.Estudiante

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Tabla</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEstudiante" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class="btn btn-dark" asp-action="Index">Lista Negra</a>
    </form>
</div>
