@model prueba_1_hp.Models.Estudiante

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdEstudiante">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Lista Negra</a>
</div>
