@model prueba_1_hp.Models.Asignatura

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Asignatura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAsignatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAsignatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionAsignatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionAsignatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoAsignatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoAsignatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdAsignatura">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Lista Negra</a>
</div>
